.colorPanel{
    width: 200px;
    height: 100px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    span{
        width: 20px;
        height: 20px;
        margin-right: 16px;
        margin-bottom: 16px;
    }
}

.Popover{
    :global(.ant-popover-inner){
        background: #a6a6a6 !important
    }
}
