.editorImage{
    position: relative;
    // max-width: 414px;
    width: 60%;
    // margin: 0 auto;
}
.closeImage{
    position: absolute;
    top: -15px;
    right: -10px;
    cursor: pointer;
}

.imageTool{
    width: 150px;
    height: 25px;
    border-radius: 2px;
    background: #353F46;
    padding-left: 16px;
    padding-right: 16px;
}

.croppIcon{
    cursor: pointer;
}

.croppIcon:hover{
    color:#E24F4F;
}

.cropIcon{
    position: absolute;
    top: 5px;
    left: 5px;
    background: white;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    display: none;
}

.markIcon{
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: rgb(175, 80, 80);
    color: white;
    padding: 4px 8px;
    border-radius: 6px;
}

.editorImage:hover{
    .cropIcon{
        display: flex;
    }
}

.croppIcon{
    cursor: pointer;
}

.croppIcon:hover{
    color:#E24F4F;
}

.cropIcon{
    position: absolute;
    top: 5px;
    left: 5px;
    background: white;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    display: none;
}

.imageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.picInput {
    border: none;
    font-size: 12px;
}

.picInput:focus {
    outline: none;
}