@font-face {
    font-family: 'iconfont';
    /* project id 479438 */
    src: url('//at.alicdn.com/t/font_479438_7kx01sqig.eot');
    src: url('//at.alicdn.com/t/font_479438_7kx01sqig.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_479438_7kx01sqig.woff') format('woff'), url('//at.alicdn.com/t/font_479438_7kx01sqig.ttf') format('truetype'), url('//at.alicdn.com/t/font_479438_7kx01sqig.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'eigen-icon', "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'eigen-icon';
    /* project id 796268 */
    src: url('//at.alicdn.com/t/font_796268_nm2zskbknzi.eot');
    src: url('//at.alicdn.com/t/font_796268_nm2zskbknzi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_796268_nm2zskbknzi.woff') format('woff'), url('//at.alicdn.com/t/font_796268_nm2zskbknzi.ttf') format('truetype'), url('//at.alicdn.com/t/font_796268_nm2zskbknzi.svg#eigen-icon') format('svg');
}