@font-face {
    font-family: 'iconfont';
    /* project id 479438 */
    src: url('//at.alicdn.com/t/font_479438_7kx01sqig.eot');
    src: url('//at.alicdn.com/t/font_479438_7kx01sqig.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_479438_7kx01sqig.woff') format('woff'), url('//at.alicdn.com/t/font_479438_7kx01sqig.ttf') format('truetype'), url('//at.alicdn.com/t/font_479438_7kx01sqig.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'eigen-edtor-icon', "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'eigen-edtor-icon';  /* project id 796268 */
    src: url('//at.alicdn.com/t/font_796268_gixkqwo1byl.eot');
    src: url('//at.alicdn.com/t/font_796268_gixkqwo1byl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_796268_gixkqwo1byl.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_796268_gixkqwo1byl.woff') format('woff'),
    url('//at.alicdn.com/t/font_796268_gixkqwo1byl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_796268_gixkqwo1byl.svg#eigen-edtor-icon') format('svg');
}